html,
body {
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
}
a,
button {
  transition: all 0.5s ease;
}
a:hover {
  text-decoration: none;
}
a:focus,
button:focus,
input:focus {
  box-shadow: none;
  outline: none;
}

header {
  background-color: #efefef;
  width: 100%;
  min-height: 110px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  /* position: fixed; */
}
header .logo_back_button {
  display: flex;
  align-items: center;
}
header .logo_back_button .back_button {
  margin: 15px 50px 0 0;
}
header .logo_back_button .back_button button,
header .close_button button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
header .logo_back_button .back_button button svg,
header .close_button button svg {
  width: 35px;
  fill: #bababa;
}
header .logo_back_button .back_button button:hover svg,
header .close_button button:hover svg {
  fill: #12d6b0;
}
header .logo_back_button .logo {
  max-width: 217px;
}
header .logo_back_button .logo img {
  width: 100%;
}

.body_wrap_section{
    padding: 100px 0 0 0;
    max-width: 1300px;
    margin: 0 auto;
}
.body_wrap_section .heading_section{
    text-align: center;
    margin: 0 0 60px 0;
}
.body_wrap_section .heading_section h1{
    font-size: 48px;
    font-weight: 300;
    margin: 0;
    color: #5b5b5b;
}
.body_wrap_section .heading_section p{
    color: #808080;
    font-weight: 400;
    font-size: 12px;
}

.body_wrap_section ul{
    list-style: none;
    padding: 0;
    margin: 0 0 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body_wrap_section ul li{
    margin:  0 0 30px 0;
}
.body_wrap_section ul li .investment_content{
    display: flex;
    align-items: center;
}
.body_wrap_section ul li .investment_content .icons{
    margin: 0 15px 0 0;
}

.body_wrap_section ul li .investment_content .theres_values h2{
    font-size: 50px;
    color: #4d4d4d;
    margin: 0 0 -10px 0;
    font-weight: 400;
    padding: 0;
}
.body_wrap_section ul li .investment_content .theres_values span{
    font-weight: 300;
    font-size: 18px;
    color: #4d4d4d;
}
.investment_plan_section{
    display: flex;
    margin: 0 0 30px 0;
}
.investment_plan_section .chart_section{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    /* border: solid 1px red; */
}
.investment_plan_section .chart_section .img_caption{
    margin: 20px 0 0 0;
}
.investment_plan_section .chart_section .img_caption p{
    margin: 0;
    font-size: 10px;
    font-weight: 300;
}
.investment_plan_section .plan_contents{
    display: flex;
    flex-direction: column;
    flex: 1.7;
    /* border: solid 1px green; */
    padding: 0 0 0 60px;
}
.plan_contents .no_of_plans{
    width: 100%;
    min-height: 100px;
    border: solid 2px #e5e5e5;
    border-radius: 4px;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.plan_contents .no_of_plans .plans_text{
    padding: 0 0 0 20px;
}
.plan_contents .no_of_plans .plans_text h3{
    font-size: 22px;
    margin: 0 0 15px 0;
    color: #666666;
    font-weight: 500;
}
.plan_contents .no_of_plans .plans_text .mini_investments{
    display: flex;
    max-width: 500px;
    justify-content: space-between;
}
.plan_contents .no_of_plans .plans_text .mini_investments p,
.plan_contents .no_of_plans .plans_text .mini_investments span{
    position: relative;
    color: #666666;
    font-size: 16px;
    margin: 0;
    padding-left: 30px;
}
.plan_contents .no_of_plans .plans_text .mini_investments p::before{
    content: '';
    background: transparent;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 0;
    top: 5px;
    position: absolute;
}
.plan_contents .no_of_plans.large_caps.active::before{
    content: '';
    min-height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    background: #14a388;
    width: 5px;
    border-radius: 4px;
}

.plan_contents .no_of_plans .plans_amout button{
    min-height: 100px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    font-weight: 500;
    color: #FFF;
}
.plan_contents .no_of_plans.large_caps .plans_amout button,
.plan_contents .no_of_plans.large_caps .plans_text .mini_investments p::before{
    background: #14a388;
}

.plan_contents .no_of_plans.Mid_small_Cap .plans_amout button,
.plan_contents .no_of_plans.Mid_small_Cap .plans_text .mini_investments p::before{
    background: #13bc9c;
}


.plan_contents .no_of_plans.Long_Term_Income_Gilt .plans_amout button,
.plan_contents .no_of_plans.Long_Term_Income_Gilt .plans_text .mini_investments p::before{
    background: #425b77;
}
.start_investing_button{
    margin: 25px 0 0 60px;
}
.start_investing_button button{
    background: #12d6b0;
    min-width: 400px;
    min-height: 60px;
    border: solid 1px transparent;
    color: #FFF;
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 400;
}
.start_investing_button button:hover{
    background: #09bd9a;
}
.start_investing_button button:focus{
    box-shadow: none;
    outline: none;
}

/*****************************
Responsive css
****************************/
@media(max-width: 1024px){
    .body_wrap_section ul{
        justify-content: center;
        flex-wrap: wrap;
    }
    .body_wrap_section ul li{
        margin: 0 30px 30px 30px;
    }
    .investment_plan_section{
        flex-direction: column;
    }
    .investment_plan_section .chart_section{
        margin: 0 auto 60px;
    }
    .investment_plan_section .plan_contents{
        padding: 0 10px;
        width: 96%;
        margin: 0 auto;
    }
    .start_investing_button{
        margin-left: 0;
    }
}
@media(max-width: 767px){
    .body_wrap_section .heading_section h1{
        font-size: 35px;
        padding: 0 10px;
    }
    .body_wrap_section ul li {
        margin: 0 10px 30px 10px;
    }
    .plan_contents .no_of_plans{
        flex-direction: column;
    }
    .no_of_plans .plans_amout,
    .no_of_plans .plans_amout button{
        width: 100%;
    }
    .plan_contents .no_of_plans .plans_amout button{
        min-height: 70px;
    }
    .plan_contents .no_of_plans{
        min-height: 230px;
    }
    .plan_contents .no_of_plans.large_caps.active::before{
        display: none;
    }
    .plan_contents .no_of_plans .plans_text h3{
        text-align: left;
        padding: 20px;
    }
    .plan_contents .no_of_plans .plans_text .mini_investments{
        max-width: 100%;
        padding: 0 20px;
    }
    .body_wrap_section ul li .investment_content .icons img{
        max-width: 30px;
    }
    .body_wrap_section ul li .investment_content .theres_values h2{
        font-size: 30px;
        margin: 0;
    }
}
@media(max-width: 480px){
    header{
        padding: 0 10px;
    }
    .body_wrap_section{
        padding: 60px 0 0 0;
        max-width: 100%;
    }
    .plan_contents .no_of_plans .plans_text h3{
        padding: 10px;
    }
    .plan_contents .no_of_plans .plans_text .mini_investments{
        margin: 0 0 20px 0;
        flex-direction: column;
    }
    .plan_contents .no_of_plans .plans_text .mini_investments p{
        margin: 0 0 15px 0;
    }
    .start_investing_button button{
        font-size: 25px;
        min-width: auto;
        width: 100%;
    }
    header .logo_back_button .back_button {
        margin: 15px 20px 0 0;
    }
    header .logo_back_button .back_button button svg, header .close_button button svg{
        width: 28px;
    }
}
@media(max-width: 414px){
    header .logo_back_button .logo{
        max-width: 150px;
    }
    .body_wrap_section .heading_section h1{
        font-size: 26px;
    }
    .body_wrap_section ul{
        flex-direction: column;
    }
    .body_wrap_section ul li{
        margin: 0 0 30px 0;
    }
    .investment_plan_section .chart_section{
        text-align: center;
    }
    .investment_plan_section .chart_section img{
        max-width: 90%;
        margin: 0 auto;
    }
}
